@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" style="padding-top: 50px">
        <h3 class="display-4">Welcome to Redbulls Ltd.</h3>
        <br /><br /><br /><br />

        <h5>Want to search asset information? </h5>
        <br />

        <a href='@Url.Action("Search", "Asset")' class="btn btn-primary">Click Me</a>


    </div>
